
body{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.container{
  width: 1000px;
  height: 300px;
}

.image{ width: 900px;
  height: 300px;
background-image: url('https://www.mos.ru/upload/newsfeed/newsfeed/NIK_1582(2)(10).JPG');
background-size: cover;
background-repeat:no-repeat;
opacity: 80%;

}
.cardOverlay{
width: 600px;
  height: 200px;
  color: black;
  font-weight: bolder;
  font-size: 20px;
 background-color: white;
 opacity: 60%;
 margin: 40px;
margin-left: 15%;
}
.textCard{
  margin: 8%;
  margin-left: 100px;
}
.btn-cs { 
  color: #ffffff;
  background: #1690D8;
  cursor: pointer;
  font-family: "Trebuchet MS", sabs-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  margin: 20px 20px 0px 10px;
  border: 2px solid #1690D8;
  border-radius: 40px;
  box-shadow: 2px 2px 6px #aaa;
  transition: .6s ease;
  width: 400px;
  margin-top: 50px;

}
.btn-cs:hover {
  box-shadow: 0px 0px 0px #aaa;
}

.btn-cs.invert:hover {
  color: #1690D8;
  background: transparent;
}

.btn-cs.scaleOut:hover {
  transform: scale(1.2);
}

.btn-cs.fade:hover {
  opacity: 0.85;
}

.card{
margin-top: 20px;
}

.cardBut{
  float: right;
  margin-right: 20px;
}
.events{
  margin: 20px;

}
