 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic);
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");


  .buttonJS button { 
  font-family: 'Quicksand', sans-serif;
  position: relative;
  width: 70%;
  height: 4rem;
  font-size: 1.25rem;
  background-image: url('https://wallpaperaccess.com/full/1732235.jpg');
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: #F8F8FA;
  transition: 0.3s all;
  margin-top: -4rem;
  margin: auto;
  display: block;
}
.buttonJS button > .base { display: block; }
.buttonJS button > .onHover { display: none; }
.buttonJS button:hover> .base { display: none; }
.buttonJS button:hover > .onHover { display: block; }
.buttonJS button:focus { 
  outline: none; 
  border: none; 
}
.buttonJS button:before { 
  content: '';
  position: absolute;
  height: 2rem;
  width: 3rem;
  top: 0; left: 0;
  border-top: 0.125rem solid blue;
  border-left: 0.125rem solid  blue;
  transition: 0.3s all;
}
.buttonJS button:after { 
  content: '';
  position: absolute;
  height: 2rem;
  width: 3rem;
  bottom: 0; right: 0;
  border-bottom: 0.125rem solid  blue;
  border-right: 0.125rem solid  blue;
  transition: 0.3s all;
}
.buttonJS button:hover:before,
.buttonJS button:hover:after {
  width: calc(100%);
  height: calc(100%);
}
.buttonJS button:active {
  -webkit-transform: scale(0.9,0.9);
     -moz-transform: scale(0.9,0.9);
      -ms-transform: scale(0.9,0.9);
          transform: scale(0.9,0.9);
}
.buttonJS h2{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 70px;
  font-family : 'Courgette' , cursive ;
  TEXT-ALIGN: center;
}
.lists {
  font-weight: 500;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 70px;
  font-family: "Italianno", cursive;
  TEXT-ALIGN: center;
  justify-content: center;
  align-items: center;
}
.FilterMe{
  background-image: url('https://wallpaperaccess.com/full/1732235.jpg');
  /* color: white; */
 justify-items: center;
margin: auto;
  text-decoration: none;
 display: block;
  font-size: 16px;
  width: 500px;
  height: 40px;
  text-align: center;
margin-bottom: 20px;
}
.text-center{
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  width: 500px;
}

.HeaderCard{
  background-image: url('https://wallpaperaccess.com/full/1732235.jpg');
  color: white;
}
.event {
    /* background-size: fill;
  display: inline-block; */

  /* position: relative;  */
    width: 300px;
  height:570px;
  background: white;
  margin:auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 2%;
  background-image: url('https://wallpaperaccess.com/full/1732235.jpg');
  background-repeat:no-repeat;
  margin-bottom: 40px ;
}
.title {
  display: block;
  color: #555; 
  /* padding: 0.3em 0.3em 1.2em 0.3em; */
  /* min-height: 80px; 
  font-weight: 500;  */
} 
.test {
  width: 100%; 
  /* height: 50%; */
  margin-top: 15px;
}
.details {
  padding: 0 0.5em;
  border-bottom: 1px solid #EEEEEE;
}
/* .title span{
  font-weight: 300; 
} */
.date {
  color: #666A73;
  font-size: 14px;
  font-weight: 400;
}

.venue {
  color: #ADB0B6;
  font-size: 13px;
  padding: 8px 6px;
}
.tag { 
  font-size: 14px;
  color: #555;
  margin: 10px 6px;
  text-transform: lowercase;
}
.yalla{
  width: 100px;
  height: 50px;
  margin: auto;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding-top: 12px; 
  padding-bottom: 12px;
  background-color: #7037ca;
}
.price {
  background: white;
  opacity: 0.8;
}

.text{font-size: 15px;}
.title{ margin : auto ;}
.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #388a8b;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: white;
}


/*****************************************************/

/***************************************************/


/**********************************************************//*
/*
body {
  font-family: 'Open Sans', sans-serif;
  /* margin: 0; */
  /* font-size: 16px;
  line-height: 1.5em; */
  /* padding: 1.5em 0; */
  /* margin-left: 30px;
  margin-right: 30px; */
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  /* overflow:visible; */
/*  background-color: #6cc4ff1c;
}

/* .instruction { margin-top: -2em; border-bottom: 1px solid #aaa; padding: 1em; margin-bottom: 1.5em; } */
/* *{box-sizing:border-box} */

/*h1,h2,h3,h4 { margin: 0; }

section, article { margin-bottom: 1.5em; }
header, .content, footer { margin-bottom: 0.75em; }
/* .event {
  position: relative;
  /* display: inline-block; */
  /* width: 300px;
  height:570px;
  background: white;
  margin:auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 2%;
  background-image: url('https://wallpaperaccess.com/full/1732235.jpg');
  background-size: fill;
  background-repeat:no-repeat
}
.event.header {
  margin-bottom: 0;
  border-radius: 2%; 
}  */

/* */

/* body {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll
} */
/*
  @import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

.buttonJS{
  font-family: "Italianno", cursive;
  TEXT-ALIGN: center;
  margin:auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  margin-top: 50px;
}
.rental{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.rentalIMG{
  width: 100%;
  height: 150px;
}
.grid {
  display: grid;
  grid-template-columns: 2;
  margin-top: 60px;
  margin-bottom: 60px;
  margin: auto;
  text-align: center;
}
body {
  margin-right: 30px;
  margin-left: 30px;
   margin-top: 50px;
}   
.card1 {
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 500px;
  width: 400px;
  overflow: hidden;
  margin-top: 200px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-out;
 
  font-family: "Italianno", cursive;
}
.card1:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
.img-card {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}
.card:hover .img-card {
  transform: translateY(-100px);
}

.card:hover > .img {
  transition: opacity 0.6s ease-out;
  opacity: 0.6;
}
.user-info > h2 {
  padding-top: 20px;
  margin: 15px 0;
  font-size: 60px;
  color: white;
}

.user-info > span {
  padding-top: 40px;
  color: white;
  font-size: 32px;
}
.mb-2 {
  margin: auto;
  margin-top: 0px;
}
.row2 {
  margin: auto;
  margin-left: 85px;
}

.Phero{
  margin: auto;
  font-family: "Italianno", cursive;
text-align: center;
font-size: 120px;
color: darkblue;
}
*//*************************************************************/